@model Dashboard.Models.StartupViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NER Dashboard</h1>
    <p class="lead">Use this dashboard to search for legal cases by specifying named entities.</p>
    <p><a href="https://nlp.stanford.edu/software/CRF-NER.shtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b>Bitte Auswahl treffen!</b>
            </div>
            <form class="form-inline" action="/Index" method="post">
                <div class="form-group">
                    <select class="form-control col-md-3" id="klaeger" name="Kläger">
                        @foreach (var item in Model.klaegerList)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select class="form-control  col-md-3" id="object" name="Gegenstand">
                        @foreach (var item in Model.themeList)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select class="form-control col-md-3" id="angeklagter" name="Angeklagter">
                        @foreach (var item in Model.targetList)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <select class="form-control col-md-3" id="tags" name="Tag">
                        @foreach (var item in Model.tagList)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                </div>
                <button type="submit" name="dropdownsubmit" value="aktualisieren" class="btn btn-primary pull-right">Anzeigen</button>
            </form>
        </div>
        <div class="panel-body">
            <div class="table">
                <table id="resultTable" class="table table-striped display nowrap">
                    <thead>
                    <tr>
                        <th>
                            @Html.Label("Kläger")
                        </th>
                        <th>
                            @Html.Label("Gegenstand")
                        </th>
                        <th>
                            @Html.Label("Angeklagter")
                        </th>
                        <th>
                            @Html.Label("Tag")
                        </th>
                        <th>
                            @Html.Label("Dokument öffnen")
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.results)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Klaeger)</td>
                            <td>@Html.DisplayFor(m => item.Theme)</td>
                            <td>@Html.DisplayFor(m => item.Target)</td>
                            <td>@Html.DisplayFor(m => item.Tag)</td>
                            <td><a href="@Html.Label("Download")"></a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>